<div class="image-select-box">
  <div class="image-select-box__image-box">
    <img class="image-box__img" src="{{item.src}}" />
  </div>
  <span class="image-select-box__label">{{item.label}}</span>
</div> 