.images-select-box input {
    display: none;
}

.images-select-box .image-select-box__image-box:hover {
    box-shadow: 0 3px 0 0 #c5e2e6, 0 7px 10px 0 rgba(0, 0, 0, .1);
    border-color: #c5e2e6;
    background: #f3f9fa;
}

.images-select-box .radio-selected .image-select-box__image-box {
    background: #8bc5ce;
    border-color: #58929b;
    box-shadow: 0 -2px 0 0 #58929b, inset 0 3px 7px 0 rgba(0, 0, 0, .1);
    color: #fff;
    outline: none;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
}

.images-select-box .image-select-box__image-box {
    position: relative;
    width: 165px;
    height: 195px;
    overflow: hidden;
    border-radius: 4px;
    padding: 16px;
    transition: background-color .15s ease, border-color .15s ease, box-shadow .15s ease;
    border: 1px solid #dcdcdc;
}

.images-select-box .image-select-box__image-box .image-box__img {
    width: 100%;
    height: 100%;
}

.images-select-box .image-select-box__label {
    text-align: center;
    padding: 6px;
}

@media (min-width:640px) {

    .choices__list--dropdown .choices__item--selectable,
    .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 0;
    }
}

.formio-wizard-nav-container {
    justify-content: flex-end;
}

.btn {
    text-transform: initial;
    border-radius: 32px;
    font-weight: 500;
    box-shadow: none;
    padding: 13px 24px;
    outline: 0;
    border: 0;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    min-width: 160px;

    :hover {
        text-decoration: none;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
}

.formio-button-remove-row {
    min-width: auto;
    font-size: 24px;
    padding: 12px 16px;
    margin: 0;
}

.formio-component-modal-wrapper-form>div {
    display: flex;
    width: '100%'
}

.btn-primary {
    background-color: #1B4EB2;
    color: #fff;

    :hover {
        background-color: #12367C;
        text-decoration: none;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

}

.formio-component-submit.form-group {
    text-align: right;
}

.form-control {
    font: inherit;
    letter-spacing: inherit;
    border-color: rgba(0, 0, 0, 0.23);
    box-sizing: content-box;
    // background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    // width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 16.5px 14px;
    position: relative;
    max-width: 100%;
}

.form-group.choices {
    display: flex;
    flex-wrap: wrap;
}

div {
    [ref='element'] {
        display: flex;
    }
}

nav {
    >ul.pagination {
        flex-flow: wrap row !important;

        >.page-item {
            margin: 4px 0;
            flex-grow: 1;
            max-width: 200px;

            >.page-link {
                padding: 14px 28px;
                width: 100%;
                text-wrap: nowrap;
            }

            :last-child {
                >.page-link {
                    border-top-right-radius: unset;
                    border-bottom-right-radius: unset;
                }
            }

            :first-child {
                >.page-link {
                    border-top-right-radius: unset;
                    border-bottom-right-radius: unset;
                }
            }
        }
    }
}

.address-autocomplete-container {
    display: flex;
    flex-wrap: wrap;
}


@media (min-width:640px) {

    .choices__list--dropdown .choices__item--selectable,
    .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 0;
    }
}